<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title></title>
    </head>

    <body>
        <div class="container">
            The order {{ order.id }} is done. <br />
            Product name: {{ product.name }} <br />
            Product token: {{ product.token }} <br />
            Data url: <a href="{{ order.data.url }}"> {{ order.data.url }}</a>
        </div>
    </body>

</html>