
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <link rel="icon" href="image/网站图标.jpg">

    <title>登录-TeamWorking</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="/css/login.css" type="text/css" rel="stylesheet"/>

    <script src=""></script>

</head>

<body>

<div class="container">

    <form id="base" class="form-signin" method="post">
        <h2 class="form-signin-heading">TeamWorking</h2>
        <label for="inputText" class="sr-only">用户名</label>
        <input type="text" id="use-name" class="form-control" placeholder="用户名" name="name" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="use-passw" class="form-control" placeholder="密码" name="pass" required>
        <!--<div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 忘记密码
          </label>
      </div>-->
        <p class="p1"><a href="./pass_user">忘记密码？</a></p>
        <!--输入错误提示框-->
        <% if (error) { %>
        <div class="alert alert-danger warning" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <%= error %>
        </div>
        <% } %>
        <!--<button href="register.html" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <p class="p2">还没有账号？ <a href="../signup">注册新账号</a></p>
    </form>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
