<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="/image/网站图标.jpg">

    <title>找回密码-TeamWorking</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="/css/找回密码.css" type="text/css" rel="stylesheet"/>

    <script src=""></script>

</head>

<body>

<div class="container">
    <form id="base" class="form-signin">
        <h2 class="form-signin-heading">TeamWorking</h2>
    </form>
</div>


<div class="registeraccount-area">
    <div class="container">
        <div class="row steps">
            <div class="col-md-4">
                <p>
                    <a href="#"><img src="image/editing.png"></a><span></span></p>
                <h4>寻找用户</h4>
            </div>
            <div class="col-md-4 hidden-xs">
                <p>
                    <a href="#"><img src="image/NotEditing.png"></a>
                </p>
                <h4>密保检验</h4>
            </div>
            <div class="col-md-4 hidden-xs">
                <p>
                    <a href="#"><img src="image/NotEditing.png"></a>
                </p>
                <h4>修改密码</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <form  method="post">
                    <div class="form-group create-style">
                        <label for="username">用户名:</label>
                        <input type="text" class="form-control" placeholder="输入您的用户名" id="use-name" name="name">
                        <% if (error) { %>
                        <div class="alert alert-danger warning" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            无该用户名，请重新输入！
                        </div>
                        <% } %>
                        <button type="submit" class="btn btn-primary btn-lg btn-register" id="reg_btn">下一步</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!--container-->
</div>

</body>
</html>
