
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="image/网站图标.jpg">

    <title>注册-TeamWorking</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="/css/register.css" type="text/css" rel="stylesheet"/>

    <script src=""></script>

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form id="base" class="form-signin" method="post" enctype="multipart/form-data">
                <h2 class="form-signin-heading">TeamWorking</h2>
                <!--<div class="row warning">
                    <div class="yonghuming col-md-12">-->
                <label for="inputText" class="sr-only">用户名</label>
                <input type="text" id="use-name" class="form-control" placeholder="用户名" name="username" required autofocus>
                <!--</div>-->
                <label for="inputPassword" class="sr-only">设置密码</label>
                <input type="password" id="use-passw" class="form-control" placeholder="设置密码" name="pass" required>

                <label for="inputText" class="question1">密保问题一</label>
                <input type="text" id="question-1" class="form-control" placeholder="密保问题一" name="question1" required autofocus>
                <label for="inputText" class="answer1">密保答案一</label>
                <input type="text" id="answer-1" class="form-control" placeholder="密保答案一" name="answer1" required autofocus>

                <label for="inputText" class="question1">密保问题二</label>
                <input type="text" id="question-1" class="form-control" placeholder="密保问题二" name="question2" required autofocus>
                <label for="inputText" class="answer2">密保答案二</label>
                <input type="text" id="answer-2" class="form-control" placeholder="密保答案二" name="answer2" required autofocus>
                <!--<div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> 忘记密码
                  </label>
              </div>-->

                <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
            </form>
        </div>

        <div class="col-md-4">
            <form id="base" class="form-signin2">
                <% if (error) { %>
                <div class="alert alert-danger warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                <%= error %>
                </div>
                <% } %>
            </form>
        </div>
    </div>
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
