<!DOCTYPE html>


<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <link rel="icon" href="/image/网站图标.jpg">

    <title>密码管理-TeamWorking</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <link href="/css/主页.css" type="text/css" rel="stylesheet" />

    <script src=""></script>

</head>
<body style="background-color:rgb(232,232,232)">

<nav class="navbar navbar-default">
    <div class=" container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">  <img alt="Brand" src="/image/网站图标.jpg"></a>
            <p class="navbar-text">TeamWorking</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!--<ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
            </ul>-->
            <form class="navbar-form navbar-left" method="get" action="/mainpage">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="在个人项目中搜索" name="project">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <link href="%e4%b8%bb%e9%a1%b5.css" rel="stylesheet" />
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">论坛</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false">用户 <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="../persionmanage">账号设置</a></li>
                        <!--<li><a href="#">退出登录</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <li role="separator" class="divider"></li>
                        <li><a href="../signout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container" style="width:1000px;">
    <div class="col-xs-4">
        <!--<div class="container" style=" background-color:white;height:120px;width:350px;padding-left:25px;padding-top:25px;">-->
            <!--&lt;!&ndash;<div class="col-lg-2">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="image/%e5%a4%b4%e5%83%8f.jpg" class="img-circle" />&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-lg-2" style="margin-left:50px;margin-top:10px">&ndash;&gt;-->
                <!--&lt;!&ndash;<span style="color:black;font-size:30px"><b>AC</b></span>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
        <ul class="list-group" style=" height:80px;width:350px;margin-top:20px;">
            <li class="list-group-item">
                <a  href="../persionmanage"><span style="color:gray;font-weight:bold">个人信息</span></a>
            </li>
            <a class="active" href="../secretmanage"><li class="list-group-item"><span style="color:gray;font-weight:bold">密码管理</span></a></li>
            </li>
            <a  href="../mainpage"><li class="list-group-item"><span style="color:gray;font-weight:bold">返回主页</span></a>
            </li>
        </ul>
    </div>

    <div class="col-xs-6">

        <div class="container" style="background-color:white; height: 400px; width:600px;margin-left:50px;">
            <form class="form-horizontal" role="form" style="margin-top:20px" method="post">
                <div class="form-group"style="margin-top:100px">
                    <label for="oldpassword" class="col-sm-3 control-label" style="color:gray">
                        旧密码
                    </label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="firstname" placeholder="" name="old_pass" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newpassword" class="col-sm-3 control-label" style="color:gray">新密码</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="firstname" placeholder="" name="new_pass1" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newpassword" class="col-sm-3 control-label" style="color:gray">确认新密码</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="lastname" placeholder="" name="new_pass2" required autofocus>
                    </div>
                </div>
                <%if(error){%>
                <div class="col-sm-5" >
                <div class="alert alert-danger warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                   <%= error%>
                </div>
                </div>
                <%}%>
                <div class="form-group" style="color: CornflowerBlue;margin-left:150px">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-lg" style="color:white;width:100px">保存</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</body>

</html>
