body {
  min-height: 500px;
  background-color:#DDDDDD;
}

/* 导航栏  */
.navbar-brand{
  padding: 0;
  padding-top: 0px;
  margin-left: 0;
}
.navbar-brand img{
    margin-left: 40px;
  width: 50px;
  height: 50px;
}
.navbar-text{
    font-size: 30px;
    margin: 0px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 10px;
    padding: 0px;
}
/*显示下拉菜单的*/
.nav li:hover .dropdown-menu {display: block;}


.mainback{
    background-color : #FFFFFF;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 35px;
    /*width: 500px;*/
    height:480px;
}
.hh3{
    margin-left: 135px;
    padding-top: 20px;

}
.creatproimg{
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.form-control1{
    margin-bottom: 15px;
}
