body {
    padding-top: 25px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin ,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin-heading{
    margin-bottom: 50px;
    margin-left: 50px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;

}
.form-signin .form-control:focus {
    z-index: 2;
}




.registeraccount-area {
    text-align: center;
}
.registeraccount-area p img{
    width: 50px;
    height: 50px;
}
.registeraccount-area h4{
    font-size: 1.5em;
    font-family: "微软雅黑";
    padding-bottom: 20px;
}
.steps{
    padding-bottom: 40px;
}
.create-style{
    text-align: left;
    position: relative;
}
.create-style label{
    font-family: "微软雅黑";
    font-size: 1.5em;
    text-align: left;
    font-weight: normal;
    padding-bottom: 5px;
}
.create-style button{
    display: inline-block;
    position: absolute;
    float: right;
    right: 16px;
    padding: 3px 12px;
}
.create-style input{
    margin-bottom: 10px;
}
.create-style input[type='button']{
    margin-bottom: 5px;
    margin-left: 20px;
}
.create-style label span{
    font-family: "微软雅黑";
    display: inline-block;
    font-size: 10px;
    text-align: left;
    font-weight: normal;
}
.btn-register {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 35px;
    padding: 0px 0px;
    border-radius: 2px;
    width: 150px;
    background-color: #1B3F73;
}
.btn-register2 {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 85px;
    padding: 0px 0px;
    border-radius: 2px;
    width: 150px;
    background-color: #1B3F73;
}
.btn-register3 {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 50px;
    padding: 0px 0px;
    border-radius: 2px;
    width: 150px;
    background-color: #1B3F73;
}
.list-group-item{
    margin-bottom: 10px;
}
.hh{
    height: 50px;
}
